.booking-block-inner__container {
	max-width: 1300px;
	margin: 100px auto;
	text-align: center;
	cursor: default;
}

.booking-title {
	font-size: 32px;
}

.booking-inputs {
	margin: 50px 0;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.input-name,
.input-email,
.input-date,
.input-phone {
	width: 100%;
	max-width: 200px;
	height: 60px;
	margin: 5px;
	padding: 20px;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	color: black;
	background: #e5e5e5;
	border-radius: 5px;
}

.inputs-splitter {
	height: 60px;
}

.send-btn {
	width: 180px;
	max-width: 425px;
	height: 60px;
	font-weight: 500;
	font-size: 12px;
	color: #ffffff;
	background-color: #e5502e;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1em;
	font-family: 'Open Sans';
}

@media (max-width: 769px) {
	.booking-inputs {
		flex-direction: column;
	}
	.inputs-splitter {
		height: 1px;
		width: 93px;
	}
}