.menu-img {
	width: 250px;
	height: 250px;
	object-fit: cover;
}

.menu-second {
	display: flex;
	flex-wrap: wrap;
}

.menu-title {
	line-height: 46px;
}

@media (max-width: 769px) {
	.menu-img {
		width: 120px;
		height: 120px;
	}
	.about-us-second{
		flex-direction: column;
		height: 680px;
	}
	.about-main {
		align-items: center;
		text-align: center;
	}
	.about-subtitle {
		margin: 25px 0;
	}
}